[submodule "cosAdminInterface/adminInterface/osf.io"]
	path = cosAdminInterface/adminInterface/osf.io
	url = https://github.com/samchrisinger/osf.io.git
[submodule "osf.io"]
	branch = feature/prereg-prize
