{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}
{% render_bundle 'vendor' %}
<h2>Pre-Registration Prize Admin View - Overview</h2>
<div class="container" id="prereg-row">
    <div class="row row-title">
        <div class="col-md-1 row-title"><a id="title" data-bind="click: setSort">Submission Title</a></div>
        <div class="col-md-1 row-title"><a id="initiator.fullname" data-bind="click: setSort">Name</a></div>
        <div class="col-md-1 row-title"><a id="initiator.username" data-bind="click: setSort">Email</a></div>
        <div class="col-md-1 row-title"><a id="initiated" data-bind="click: setSort">Begun</a></div>
        <div class="col-md-1 row-title"><a id="updated" data-bind="click: setSort">Submitted</a></div>
        <div class="col-md-1 row-title"><a id="commentsSent.commentsSent()" data-bind="click: setSort">Comments Sent</a></div>
        <div class="col-md-1 row-title"><a id="newComments" data-bind="click: setSort">New Comments</a></div>
        <div class="col-md-1 row-title"><a id="approved" data-bind="click: setSort">Approved</a></div>
        <div class="col-md-1 row-title"><a id="registered" data-bind="click: setSort">Registered</a></div>
        <div class="col-md-1 row-title"><a id="proofOfPub.proofOfPub()" data-bind="click: setSort">Proof of Publication</a></div>
        <div class="col-md-1 row-title"><a id="paymenSent.paymentSent()" data-bind="click: setSort">Payment Sent</a></div>
        <div class="col-md-1 row-title"><a id="notes.notes()" data-bind="click: setSort">Notes</a></div>
    </div>
    <div id="overview">
        <div class="row scripted">
            <span data-bind="foreach: sortedDrafts">
            	{% include "prereg/prereg_rows.html" %}
            </span>
        </div>
    </div>
</div>

<div class="container">
    {% include "prereg/edit_draft_registration.html" %}
</div>

{% render_bundle 'prereg-admin-page' %}
{% endblock %}
